* {
	box-sizing: content-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: Arial;
}

body {
	background-color: #222;
}
h1, h4 {
	text-align: center;
	color: #222;
}

.container {
	display: flex;
	flex-direction: column;
	align-content: space-evenly;
	justify-content: space-evenly;
	align-items: center;
	width: 250px;
	border-radius: 10px;
	box-shadow: 0 0 8px 2px #777;
	margin: 0 auto;
	padding: 10px;
	margin-top: 100px;
	color: #aaa;
	text-shadow: 0 0 3px #aaa;
	background-color: #aaa;
	cursor: default;
	transition: all .6s ease-in ease-out;
}

.display {
	display: flex;
	justify-content: space-evenly;
	padding: 10px;
	font-size: 2em;
}

.controls {
	padding: 10px;
}

.digit {
	margin-left: 5px;
}

.btn, .digit {
	padding: 4px;
	border-radius: 4px;
	background-color: #777;
	box-shadow: 0 0 4px #777;
}

#arrows {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: #777;
	padding: 4px;
	margin-left: 10px;
	border-radius: 4px;
	box-shadow: 0 0 4px #777;
}

.dot {
	width: 15px;
	height: 0;
	border-bottom: 15px solid #aaa;
	/*border-top */
	border-radius: 50%;
	box-shadow: 0 0 4px #aaa;
}

.btn:hover {
	background-color: #aaa;
	color: #777;
	box-shadow: 0 0 4px #aaa;
	text-shadow: 0 0 3px #777;
}